/*通用*/
*{
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
}
/*通用*/
/*导航按钮css*/
#Rpager{
    position: fixed;
    right: 1vw;
    top: 25vh;
    height: 50vh;
    width: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Rpager div{
    background-color: darkgray;
    height: 1vw;
    width: 1vw;
    border-radius: 0.5vw;
}
#Rpager .Rselected{
    background-color: orangered;
}
/*展示效果用CSS，非必要*/
.Rsection{
    width: 100%;
}
.Rsection:nth-child(1){
    height: 100vh;
    background-color: blue;
}
.Rsection:nth-child(2){
    height: 30vh;
    background-color: deeppink;
}
.Rsection:nth-child(3){
    height: 100vh;
    background-color: dodgerblue;
}
.Rsection:nth-child(4){
    height: 30vh;
    background-color: darksalmon;
}
.Rsection:nth-child(5){
    height: 100vh;
    background-color: darkgoldenrod;
}
.Rsection:nth-child(6){
    height: 50vh;
    background-color: darkolivegreen;
}